@import "tailwindcss";

@theme {
  --color-primary: #2d8cf0;
  --color-main: #323232;
  --color-bg-light: #f0f2f5;
  --font-sans: 'Segoe UI', system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-bg-light text-main font-sans antialiased;
  }
}
